*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: white;
}

.Button-Elements{
    margin: 0;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:aliceblue;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
}

.options {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.options li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.options li a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

.options li a:hover{
    background: cornflowerblue;
    color: black;
}

.hamburger{
    margin: 0;
    padding: 0;
    display: none;

}

.hamburger i{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 30px;
}

.hamburger i:hover{
    color: cornflowerblue;
}

@media (max-width: 700px){
    .Button-Elements ul{
        margin: 0;
        padding: 0;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: aliceblue;
        opacity: 85%;
        gap: 0;
        overflow: hidden;
    }

    .Button-Elements ul li{
        margin: 0;
        padding: 0 20px 20px;
    }

    .hamburger{
        display: block;
        margin: 0;
        padding: 0;
    }

    .Button-Elements{
        margin: 0;
        padding: 0;
        opacity: 100%
    }

    .options{
        margin: 0;
        padding: 0;
        transition: all 0.5s;
    }
}

h1, h2, h3, p{
    color: black;
    text-align: center;
}

#About-Me-Header,
#About-Me-Section,
#Projects-Section,
#Contacts-Section{
    opacity: 0;
    min-height: 300vh;

}

#About-Me-Header{
    padding-top: 100px;
}

#About-Me-Header.show,
#About-Me-Section.show,
#Projects-Section.show,
#Contacts-Section.show{
    transition: all 1s;
    opacity: 1;
}


